@import "../../../../shared/styles/base_ui.scss";

.skillsSection {
    width: $section-width;
    max-width: $section-max-width;
    margin: 10rem auto 0 auto;

    // > h2 {
    //     text-align: center;
    //     font-size: 5rem;
    //     color: $text-color-primary;
    //     margin-bottom: 4rem;
    // }

    .heading {
        margin-bottom: 4rem;
    }

    .skillsLists {
        display: flex;
        justify-content: center;
        background-color: rgba($base-color-shadow, .66);
        border-radius: 1rem;
    }
}