// BASE COLORS
$base-color-ice-blue: rgb(150, 216, 216);
$base-color-deep-sea-blue: rgb(0, 20, 37);
$base-color-boundless-blue: rgb(54, 83, 101);
$base-color-shadow-blue: rgb(104, 161, 185);
$base-color-red-alert: rgb(234, 10, 42);
$base-color-whitesmoke: rgb(245, 245, 245);
$base-color-white: rgb(255, 255, 255);
// $base-color-shadow: #0d0d0f;
// $base-color-shadow: #2c353d;
// $base-color-shadow: #16181b;
$base-color-shadow: #2f343a;
$base-color-neon-blue: #18e0fe;

// TEXT
$text-color-gray: $base-color-shadow;
$text-color-primary: $base-color-whitesmoke;

// GRADIENTS
$gradient-3d-shadow-primary: linear-gradient(to bottom right, #34393f, #17181b);
$gradient-3d-shadow-secondary: linear-gradient(to bottom right, #292b30, #727478);

// SITE COLORS
// $body-bg: #1e252b;
$body-bg: #060e14;
// $body-bg: #0c0c0f;
$color-accent-main: $base-color-neon-blue;
$color-dark-shadow: $base-color-shadow;