@import "colors";
@import "responsiveSize";

@import url("https://use.typekit.net/wnn7dwh.css");

$section-width: 90%;
$section-max-width: 1500px;
$primary-font: neue-haas-grotesk-display;

* {
    font-family: $primary-font;
    color: $base-color-whitesmoke;
    font-weight: 700;
}

// SCROLLBAR
body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background-color: $color-dark-shadow;
}

body::-webkit-scrollbar-thumb {
    background-color: $color-accent-main;
    border-radius: 2rem;
}