@import "colors";
@import "responsiveSize";

@import url("https://use.typekit.net/wnn7dwh.css");

$section-width: 90%;
$section-max-width: 1500px;
$primary-font: neue-haas-grotesk-display;

* {
    font-family: $primary-font;
    color: $base-color-whitesmoke;
    font-weight: 700;
}

body {
    overflow-x: hidden;
}

// SCROLLBAR
body::-webkit-scrollbar {
    width: 1rem;
    box-shadow: 0 0 1rem 2rem rgba(0, 0, 0, 1);
}

body::-webkit-scrollbar-track {
    // background-color: $color-dark-shadow;
    background: $gradient-3d-shadow-primary;
    box-shadow: 0 0 1rem 2rem rgba(0, 0, 0, 1);
}

body::-webkit-scrollbar-thumb {
    // background-color: $color-accent-main;
    background: $gradient-3d-shadow-secondary;
    border-radius: 2rem;
}